<!DOCTYPE html>
<html ng-app="KisanMaster">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Kisan</h2>
        </div>
    </md-toolbar>

    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angularMaterial")
    @Scripts.Render("~/bundles/Customjs")
    @RenderSection("scripts", required: false)
</body>
</html>
